@import "./vars.less";

.main-content {
  margin: 0;
  padding-top: @vu * 3;
  max-width: @main-max-width;
}

.main-sidebar {
  min-height: 100%;
  height: 100%;
  box-sizing: border-box;
  position: fixed;
  min-width:  @sidebar-width;
  max-width:  @sidebar-width;
}

@media @show-sidebar {
  .main-content {
    padding-left: @sidebar-width;
  }
}

@media @hide-sidebar {
  .main-sidebar {
    display: none;
  }
}
